@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;padding: 0;
     font-family: "Roboto", sans-serif;
     box-sizing: border-box;
     overflow:auto
}

header {
    background-color: #1f2937;
    height: 85vh;
    padding: 0px 8vw;

}
.logo{
    padding: 12px;
}
.logo img{
    height: 34px;
    width: auto;

}


.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 14vh;
}

.nav nav ul{
    display: flex;

}

.nav nav ul li{
    list-style: none;
    padding: 12px;

}
.nav nav ul li a{
    text-decoration: none;
    color: #e5e7eb;
}

.hero{
    display: flex;
    justify-content: space-between;
    gap: 21px;
    flex-wrap: wrap;
    
}
.hero .img img{
    height:25vh;
    width: auto;
    flex: 1;
}
.hero .text{
   max-width: 600px;
   max-height: 600px;
   width: auto;
   flex: 1;
}

.hero .text .main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;

}
.hero .text .secondary {
    font-size: 18px;
    color:#E5E7EB
}

.hero .text button{
    padding: 10px 12px;
    border-radius: 12px;
    background-color:#3882f6;;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    margin-top: 12px;
    text-align: center;
    border: none;
}


main{
    height: 70vh;
   padding: 0px 8vw;
}
main h1{
    text-align: center;
    margin: 10vh;
}

main .container{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

main .container .item{
    max-width: 20vw;
    flex-shrink: 0;
}
main .itemimg img{
    height: 20vh;
    width: 15vw;
}



.first{
    height: 50vh;
    background-color: #E5E7EB;
    padding: 54px 12vw;
    
    /* display: flex; */
    /* flex-direction: column; */
    
}
.first .quote{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}
.first .man{
    font-size: 21px;
    text-align: right;
    padding: 12px;
}
.second{
    height: 50vh;
    padding: 12vh 25vw;
}
.second .sec{
    border: 3px solid black;
    display: flex;
    padding: 44px;
    background-color: #3882f6;
    border-radius: 21px;
    justify-content: space-between;
   
}
.sec button{
    padding: 10px 12px;
    border-radius: 12px;
    background-color:#3882f6;;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border:3px solid;
}


footer{
    height: 20vh;
    padding: 0px 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
}